{
	admin off
}

:41237 {
	handle /auth/* {
		reverse_proxy backend:8081
	}

	handle /me/* {
		reverse_proxy backend:8081
	}

	handle /v1/* {
		reverse_proxy backend:8081
	}

	handle /health {
		reverse_proxy backend:8081
	}

	handle /ws/* {
		reverse_proxy backend:8081
	}

	handle /api/* {
		reverse_proxy backend:8081
	}

	handle {
		reverse_proxy frontend:3000
	}
}
